
<div class="jumbotron bgheader no-radius">
  <div class="container">
    <div class="row headerImageFont">
      <div class="col-md-6 animate__animated animate__bounceInRight">
        <h1>Best Quality Of Wines </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore iusto accusamus omnis, deleniti sequi
          magnam nesciunt illum quos hic, quis facere. At velit reprehenderit dolor dicta dignissimos, possimus
          repellendus iusto?</p>
        <button class="btn bg-custom no-radius">Read More</button>
      </div>
      <div class="col-md-6 animate__animated animate__bounceInRight">
        <h1>Best Quality Of Wines </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore iusto accusamus omnis, deleniti sequi
          magnam nesciunt illum quos hic, quis facere. At velit reprehenderit dolor dicta dignissimos, possimus
          repellendus iusto?</p>
        <button class="btn bg-custom no-radius">Read More</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-center">Categories</h2>
  <hr>
  <div class="row">
    <div class="col-md-3 myBox">
      <img src="assets/img/cat1.jpg" alt="categoriy 1">
    </div>
    <div class="col-md-3 myBox">
      <img src="assets/img/cat2.jpg" alt="categoriy 1">
    </div>
    <div class="col-md-3 myBox">
      <img src="assets/img/cat3.jpg" alt="categoriy 1">
    </div>
    <div class="col-md-3 myBox">
      <img src="assets/img/cat4.jpg" alt="categoriy 1">
    </div>
  </div>
  <h2 class="text-center">Featured Products</h2>
  <hr>
  <div class="row">
    <div class="col-md-3 myBox">
      <img src="assets/img/cat1.jpg" alt="product 1">
      <h4>Product 1</h4>
      <button class="btn bg-custom no-radius add"> Add to Cart</button>
    </div>
    <div class="col-md-3 myBox">
      <img src="assets/img/cat2.jpg" alt="product 1">
      <h4>Product 2</h4>
      <button class="btn bg-custom no-radius add"> Add to Cart</button>
    </div>
    <div class="col-md-3 myBox">
      <img src="assets/img/cat3.jpg" alt="product 1">
      <h4>Product 3</h4>
      <button class="btn bg-custom no-radius add"> Add to Cart</button>
    </div>
    <div class="col-md-3 myBox">
      <img src="assets/img/cat4.jpg" alt="product 1">
      <h4>Product 4</h4>
      <button class="btn bg-custom no-radius add"> Add to Cart</button>
    </div>
  </div>
</div>
<br>